[Desktop Entry]
Name=Wallpaper set random
Categories=Settings
Icon=preferences-wallpaper
Type=Application
Exec=rofi_wallpapers.sh --rng --silent
Terminal=false